<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Hello World!</title>
        <link rel="stylesheet" href="Styles/main.css" />
    </head>
    <body>
        <header data-source="Partials/header.mustache" data-hide="true">
        </header>
        <section class="dumps-wrapper hidden">
            {{#dumps}}
                {{>Partials/dump}}
            {{/dumps}}
        </section>
        <script>
            window.$ = window.jQuery = require('./Vendor/jquery-2.2.1.min.js');
            window.Emitter = require('./Vendor/Emitter.js');
            window.Mustache = require('./Vendor/mustache.min.js');
            window.Collapse = require('./Vendor/jquery.collapse.js');
            window.Partials = require('./Lib/Partials.js');
            window.jQMustache = require('./Lib/jQuery.Mustache.js');
            window.Engine = require('./Engine.js');
            $(document).on('ready', function() {
                new Engine();
            });
        </script>
    </body>
</html>
