.icon {
    background: none;//Reset
    border: none;//For buttons, links etc
    background-size: contain;
    background-repeat: no-repeat;
    background-position:center center;
    i& {
        display: inline-block;
    }
    &.header {
        height: 100%;
        width: 50px;
            background-position: center top;
    }
    &.bullet {
        height: 100%;
        width: 15px;
        background-position: center bottom;
        margin-right:5px;
    }
    &.chip {
        background-image: url("../Icons/microchip.svg");
    }
    &.ram-chip {
        background-image: url("../Icons/ram-chip.svg");
    }
    &.rotate-90{
        transform: rotate(90deg);
    }
    &.expand-all {
        background-image: url("../Icons/expand-all.svg");
    }
    &.loader {
        position: relative;
        height: 50px;
        width: 50px;
        left: 50%;
        .circle {
            position: absolute;
            height: 50px;
            width: 50px;
            top: 0px;
            left: 0px;
            border-radius: 50%;
            -webkit-mask-box-image: linear-gradient(to top, #2ac7e1 50%, transparent 80%);
            animation: rotate 1.2s infinite linear;
            box-shadow: inset 0 0 0 5px rgba(42, 199, 225,1);
            @keyframes rotate {
                0% {
                    transform: rotate(0deg);
                }
                100% {
                    transform: rotate(360deg);
                }
            }
        }
    }
}
