@import "reset.css";
@import "fonts.css";
.icon {
  background: none;
  border: none;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}
i.icon {
  display: inline-block;
}
.icon.header {
  height: 100%;
  width: 50px;
  background-position: center top;
}
.icon.bullet {
  height: 100%;
  width: 15px;
  background-position: center bottom;
  margin-right: 5px;
}
.icon.chip {
  background-image: url("../Icons/microchip.svg");
}
.icon.ram-chip {
  background-image: url("../Icons/ram-chip.svg");
}
.icon.rotate-90 {
  transform: rotate(90deg);
}
.icon.expand-all {
  background-image: url("../Icons/expand-all.svg");
}
.icon.loader {
  position: relative;
  height: 50px;
  width: 50px;
  left: 50%;
}
.icon.loader .circle {
  position: absolute;
  height: 50px;
  width: 50px;
  top: 0px;
  left: 0px;
  border-radius: 50%;
  -webkit-mask-box-image: linear-gradient(to top, #2ac7e1 50%, transparent 80%);
  animation: rotate 1.2s infinite linear;
  box-shadow: inset 0 0 0 5px #2ac7e1;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.float.left {
  float: left;
}
.float.right {
  float: right;
}
.hidden {
  display: none;
}
.bold {
  font-weight: bold;
}
.italic {
  font-style: italic;
}
body {
  background-color: #323332;
  font-size: 18px;
  font-family: 'Inconsolata';
  color: #efefef;
  padding: 10px;
  padding-top: 0px;
}
h1 {
  font-size: 1.2em;
}
h2 {
  font-size: 1.1em;
}
ul {
  list-style: none;
}
button {
  cursor: pointer;
}
button:focus,
button:active {
  border: none;
}
header {
  display: flex;
  height: 65px;
  background-color: #323332;
  padding-top: 10px;
  width: 100%;
  position: fixed;
  z-index: 500;
}
header article {
  height: 100%;
  font-size: 0.8em;
  margin-right: 15px;
}
header article ul.attr-list {
  margin-right: 10px;
}
header article.cpu li {
  margin-bottom: 2px;
  height: 15px;
}
header article.cpu li.model {
  width: 70px;
}
header article p.one-line {
  height: 100%;
}
header article p.one-line span.big-number + span.label {
  transform: translateY(-100%);
  margin-left: 10px;
  display: inline-block;
}
span.big-number {
  font-size: 4em;
  color: #F05454;
}
.dumps-wrapper {
  padding-top: 85px;
}
article.dump,
article.dump-placeholder {
  margin-bottom: 10px;
  border: solid 2px #F05454;
  background-color: #EFEFEF;
  color: #323332;
}
article.dump button.dump-head,
article.dump-placeholder button.dump-head {
  background: none;
  border: none;
  font-weight: bold;
  font-size: 0.8em;
  letter-spacing: 1px;
  color: #323332;
  width: 100%;
  padding: 5px;
  text-align: left;
  background-color: #F05454;
}
article.dump button.dump-head:active,
article.dump-placeholder button.dump-head:active,
article.dump button.dump-head:focus,
article.dump-placeholder button.dump-head:focus {
  border: none;
  outline: none;
}
article.dump button.dump-head a,
article.dump-placeholder button.dump-head a {
  color: #323332;
  text-decoration: none;
  width: 100%;
  display: inline-block;
}
article.dump div.dump-content,
article.dump-placeholder div.dump-content {
  padding: 10px;
  margin-top: 5px;
  font-size: 1em;
}
article.dump div.dump-content span.label.type,
article.dump-placeholder div.dump-content span.label.type {
  font-style: italic;
  font-size: 0.9em;
}
article.dump div.dump-content p,
article.dump-placeholder div.dump-content p {
  margin-top: 5px;
  word-wrap: break-word;
}
article.dump-placeholder {
  height: 50px;
  padding: 25px;
  background: none;
  padding-left: 0;
}
.tabbed-content {
  margin-top: 5px;
  margin-left: 0px;
  margin-bottom: 15px;
}
.tabbed-content ul {
  height: 30px;
}
.tabbed-content ul li[data-target] {
  float: left;
  opacity: 0.8;
  margin-left: -15px;
  cursor: pointer;
  width: 50px;
  height: 0px;
  padding-left: 1%;
  border-left: 30px solid transparent;
  border-bottom: 30px solid #323332;
  border-bottom-color: #777\9;
  line-height: 30px;
  color: #f05454;
}
.tabbed-content ul li[data-target]:first-child {
  margin-left: 0px;
}
.tabbed-content ul li[data-target].on {
  opacity: 1;
}
.tabbed-content .tab-content {
  margin: 0!important;
  padding: 10px;
  border: solid 1px #f05454;
  word-wrap: break-word;
}
.tabbed-content .tab-content * {
  all: unset;
}
