<article class="cpu hidden">
    {{>sysInfo}}
</article>
<article class="tools">
    <button class="icon expand-all header" title="Expand all"></button>
</article>
<article class="infos">
    <p class="one-line"><span class="big-number">{{dumps_count}}</span><span class="label"> dumps displayed</span></p>
</article>
