<article class="cpu">
    <ul class="attr-list float left">
        <li class="cores_count">{{cpu_cores}}</li>
        <li class="freq">{{cpu_freq}}</li>
        <li class="mem">
            <i class="icon ram-chip bullet rotate-90"></i>
            <span>{{mem_used}}/{{mem_total}}</span>
        </li>
    </ul>
    <div class="icon chip float right header"></div>
</article>
