<ul class="attr-list float left">
    <li class="cores_count">{{cores}} cores</li>
    <li class="freq">{{freq}} Ghz</li>
    <li class="mem">
        <i class="icon ram-chip bullet rotate-90"></i>
        <span>{{memUsed}}/{{memTotal}}</span>
    </li>
</ul>
<div class="icon chip float right header"></div>
